*{
	margin: 0;
	padding: 0;
	font-family: serif;
	box-sizing: border-box;
}
.container{
	width: 100%;
	height: 100vh;
	overflow-y: scroll;
	scroll-snap-type: y mandatory;
}
.slides{
	width: 100%;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 20px;
	color: white;
	scroll-snap-align: start;
	
}
.slides img{
	width: 350px;
}
.slides h2{
font-size: 50px;
font-weight: 600;
font-family: initial;
}


.slide1{
background: url(https://i.makeagif.com/media/9-19-2017/u3dnZt.gif);
background-size: cover;

}
.slide2{
background: url(https://31.media.tumblr.com/tumblr_mddl7lUHKk1rcfx32o1_500.gif);
background-size: cover;
}
.slide3{
background: url(https://64.media.tumblr.com/d78635f8f584fd44126c9d8c254e2662/tumblr_p57zemsPlm1rmxa4zo4_r1_540.gifv);
background-size: cover;
}
.slide4{
	background: url(https://64.media.tumblr.com/f8cbd41d492415cdc4a16df972edc320/tumblr_pbhmeapRhy1uwhtt4o3_540.gifv);
	background-size: cover;
}
.slide5{
  background: url(https://i.pinimg.com/originals/06/43/7d/06437d7310c48a3fd10a7f0a0ccb1dec.gif);
  background-size: cover;
}

.slide6{
  background: url(https://49.media.tumblr.com/ac5d58c64ee6a318eb9d308349ea5914/tumblr_o04ui1Eo5O1svi2w2o1_500.gif);
  background-size: cover;
}

.slide7{
  background: url(https://i.redd.it/judc9jishuva1.gif);
  background-size: cover;
}

.slide8{
  background: url(https://static01.nyt.com/images/2012/12/09/arts/09TSUNAMI1_SPAN/09TSUNAMI1_SPAN-superJumbo.jpg);
  background-size: cover;
}


	a{
		color: indianred;
		size: 50px;
		text-align: center;
		display: block;
		}

	a:hover{
		color: orange;
		}

	h1{
		font-family: serif;
		font-size: 100px;
		color: yellow;
		background: black;
		text-align: center;
	}






/*html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  overflow: hidden;
  background: linear-gradient(to bottom, #202020, #111119);
}

.rain {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.rain.back-row {
  display: none;
  z-index: 1;
  bottom: 60px;
  opacity: 0.5;
}

body.back-row-toggle .rain.back-row {
  display: block;
}

.drop {
  position: absolute;
  bottom: 100%;
  width: 15px;
  height: 120px;
  pointer-events: none;
  animation: drop 0.5s linear infinite;
}

@keyframes drop {
  0% {
    transform: translateY(0vh);
  }
  75% {
    transform: translateY(90vh);
  }
  100% {
    transform: translateY(90vh);
  }
}

.stem {
  width: 1px;
  height: 60%;
  margin-left: 7px;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.25));
  animation: stem 0.5s linear infinite;
}

@keyframes stem {
  0% {
    opacity: 1;
  }
  65% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.splat {
  width: 15px;
  height: 10px;
  border-top: 2px dotted rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  opacity: 1;
  transform: scale(0);
  animation: splat 0.5s linear infinite;
  display: none;
}

body.splat-toggle .splat {
  display: block;
}

@keyframes splat {
  0% {
    opacity: 1;
    transform: scale(0);
  }
  80% {
    opacity: 1;
    transform: scale(0);
  }
  90% {
    opacity: 0.5;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(1.5);
  }
}

.toggles {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
}

.toggle {
  position: absolute;
  left: 20px;
  width: 50px;
  height: 50px;
  line-height: 51px;
  box-sizing: border-box;
  text-align: center;
  font-family: sans-serif;
  font-size: 10px;
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.2);
  color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s;
}

.toggle:hover {
  background-color: rgba(255, 255, 255, 0.25);
}

.toggle:active {
  background-color: rgba(255, 255, 255, 0.3);
}

.toggle.active {
  background-color: rgba(255, 255, 255, 0.4);
}

.splat-toggle {
  top: 20px;
}

.back-row-toggle {
  top: 90px;
  line-height: 12px;
  padding-top: 14px;
}

.single-toggle {
  top: 160px;
}

body.single-toggle .drop {
  display: none;
}

body.single-toggle .drop:nth-child(10) {
  display: block;
}


*/