

a{
	text-align: center;
	color: antiquewhite;
	font-size: 20px;
	margin: 10px;
}

a:hover{
	color: mediumpurple;
}

div{
	cursor: url(https://img.icons8.com/?size=100&id=9L9i0wP3MWGL&format=png&color=000000) 16 16, auto; 
}

.image-right{
position: fixed;
top: 20px;
right: 0;
width: 150px;
}


.image-left{
position: absolute;
top: 20px;
left: 0;
width: 150px;
}



h1{
	font-size: 80px;
	margin: 0;
	text-align: center;
	padding: 0;
}


p{
	margin: 10px;
	text-align: center;
	padding: 20px;
	font-size: 30px;
}

.container{
	display: flex;
	justify-content: cetner;
	align-items: center;
	height: 100vh;
	background-color: #f0f0f0;
	overflow: auto;
}

.text-box{
		width: 900px;
		height: 350px;
		background-color: rgba(130, 140, 150, 0.5);
		border-radius: 5px;
		padding: 20px;
		font-size: 30px;
		text-align: center;
	}



body{
	margin: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	font-family: 'Shadows Into Light', cursive;
	background-image: url(https://img.freepik.com/premium-photo/waves-crashing-as-endless-line-surfers-ride-unison_1079150-267177.jpg);
	background-size: cover;
	color: lightyellow;
    overflow: hidden; /* Prevent scrolling */
    display: flex;
    justify-content: center;
    align-items: flex-end; /* Align to the bottom */
    height: 100vh;
   }



.shadows-into-light-regular {
  font-family: 'Shadows Into Light', cursive;
  font-weight: 400;
  font-style: normal;
}

