
@font-face {
    font-family: 'soriasoria';
    src: url('soria-font-webfont.woff') format('woff'),
    font-weight: normal;
    font-style: normal;
}

.background-image{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(https://i.pinimg.com/736x/7f/22/d2/7f22d24d5e969a0dcc959859a28e521c.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
}

/*.overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}*/

.content{
    position: relative;
    z-index: 3;
    color: antiquewhite;
}

body{
    width: 100%;
    overflow-x: hidden;
}


h1{
    font-family: 'soriasoria';
    font-size: 20px;
    color: lightsteelblue;
    text-align: center;
    margin-bottom: 700px;
}

h2{
        text-align: center;
        color: lightsteelblue;
        font-size: 150px;
        font-family: "Barrio", system-ui;
        font-weight: 400;
        font-style: normal;
    }

a{
    color: lightsteelblue;
    margin: 20px;
}

a:hover{
    color: greenyellow;
}

.fish1 {
            width: 350px;
            position: absolute;
            top: 900px; 
            left: 5vw;
        }


.fish2 {
            width: 200px; 
            position: absolute;
            top: 700px; 
            left: 75vw;
        }


.fish3  {
            width: 170px;
            position: absolute;
            top: 950px; 
            left:80vw;
        }


.fish4  {
            width: 150px;
            position: absolute;
            top: 815px; 
            left: 50vw;
        }

.fish5  {
            width: 250px;
            position: absolute;
            top: 1200px; 
            left: 60vw;
        }

.fish6  {
            width: 350px;
            position: absolute;
            top: 600px; 
            left: 10vw;
        }








.fish7  {
            width: 250px;
            position: absolute;
            top: 1500px; 
            left: 70vw;
        }



.fish8  {
            width: 250px;
            position: absolute;
            top: 1600px; 
            left: 5vw;
        }

.fish9  {
            width: 450px;
            position: absolute;
            top: 1700px; 
            left: 35vw;
        }

.fish10  {
            width: 150px;
            position: absolute;
            top: 1500px; 
            left: 35vw;
        }

.fish11  {
            width: 180px;
            position: absolute;
            top: 1700px; 
            left: 70vw;
        }






.fish12  {
            width: 250px;
            position: absolute;
            top: 2200px; 
            left: 10vw;
        }

.fish13  {
            width: 250px;
            position: absolute;
            top: 2400px; 
            left: 60vw;
        }






.fish14  {
            width: 250px;
            position: absolute;
            top: 3200px; 
            left: 50vw;
        }


.fish15{
            width: 250px;
            position: absolute;
            top: 3000px; 
            left: 20vw;
        }









.fish16 {
            width: 200px;
            position: absolute;
            top: 3700px; 
            left: 15vw;
        }


.fish17 {
            width: 300px;
            position: absolute;
            top: 4000px; 
            left: 70vw;
        }


.fish18 {
            width: 300px;
            position: absolute;
            top: 3750px; 
            left: 50vw;
        }








.fish19 {
            width: 300px;
            position: absolute;
            top: 5300px; 
            left: 10vw;
        }

.fish20 {
            width: 250px;
            position: absolute;
            top: 5000px; 
            left: 40vw;
        }

.fish21 {
            width: 300px;
            position: absolute;
            top: 5500px; 
            left: 70vw;
        }    

.fish22 {
            width: 300px;
            position: absolute;
            top: 0px; 
            left: 0vw;
        }                


.fish23 {
            width: 35vw;
            position: absolute;
            top: 200px; 
            left: 20vw;

        }


